<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layouts/default_layout }"> <!-- 적용할 layout 설정 -->
<!-- private css -->
<th:block layout:fragment="css"></th:block>
<!-- private script -->
<th:block layout:fragment="script"></th:block>
<!-- Content -->
<div layout:fragment="content">
	<header class="masthead" th:style="'background-image: url(' + @{ /assets/img/home-bg-2.jpg } + ');'">
	    <div class="container position-relative px-4 px-lg-5">
	        <div class="row gx-4 gx-lg-5 justify-content-center">
	            <div class="col-md-10 col-lg-8 col-xl-7">
	                <div class="site-heading">
	                    <h1>Boot BBS</h1>
	                    <span class="subheading">Simple Blog</span>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
		    <div class="col-md-10 col-lg-8 col-xl-7">
		        <!-- Post preview-->
		<div class="post-preview">
		    <a th:href="@{ /post/detail }">
		        <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
		        <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
		    </a>
		    <p class="post-meta">
		        Posted by
		        <a href="#!">Start Bootstrap</a>
		        on September 24, 2023
		    </p>
		</div>
		<!-- Divider-->
		        <hr class="my-4" />                    
		    </div>
		</div>
	</div>
</div>
</html>